.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1520px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 550px;
  }
}

body {
  padding: 80px 0 0 0;
}