$gray: #9B9B9B;
$pink: #f498d5;
$purple: #C60083;
$white: #FFF;
$black: #000;
$darkGray: #2a2a2a;

$green: #0f9651;
$darkGray: #818181;
$lightBlack: #2A2A2A;
$lightRed: #FF5743;
$white: #FFF;
$orange: #FF9A32;
$blue: #1DACD6;